h1{color: blue;
    background-color: darkgrey}

h3{color: blue;}
    body{background-color: white;

    font: normal 16px Arial, Helvetica, sans-serif;

    /* Same as above */
    line-height: 1.6em;
    margin:0;
}
.container{
    widows: 80%;
    margin: auto;
}
.box-1{
    background-color:darkgrey 
}

